streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
chromadb
pandas
sentence-transformers
PyPDF2
requests
python-dotenv
flask
langchain>=0.1.0
langchain-chroma>=0.1.0
langchain-huggingface>=0.0.3
langchain-core>=0.1.0
langchain-community>=0.0.16
sentence-transformers>=2.2.2
chromadb>=0.4.22
pypdf>=3.15.1